<br />
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Bienvenido {{userName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        size-sm="6"
        size-lg="6"
        *ngFor="let digimon of digimons"
      >
        <ion-card (click)="getDigimonDetails(digimon.href)">
          <img
            [src]="digimon.image"
            style="max-width: 80%; margin-left: 1rem"
            alt="Digimon Image"
          />
          <ion-card-header>
            <ion-card-title class="title">{{ digimon.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="title">
            ID: {{ digimon.id }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
